:root {
    --font_color: black;
    --padding: 1rem;
    --height: auto;
    --header-color: #F1DEDC;
    background-color: #80ADA0;
    --font-family: "Lato", serif;
    --font-weight: 400;
    --small-font-weight: 300;
    --Body-color: white;
    --heading-color: white;

}

header {
    background-color: #2c514c;
    width: auto;
    height: 90px;
    padding: 1rem;
    color: var(--header-color);
}

header img{
    float: left;
    width: 100px;
    height: var(--height);
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

header nav {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    
}
header nav a {
    color: var(--color);
    padding-left: 100px;
    text-decoration: none;

}
.hero div {
    position: relative;
}

h1 {
    color: white;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    margin-left: 40%;
    position: absolute;

}
article {
    position: absolute;
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;
    
}

article p{
    color: white;
}
h2 {
    font-family: var(--font-family);
    font-weight: var(--small-font-weight);
    color: var(--heading-color);
    padding: 20px
}

p {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--Body-color);
    padding-top: 15px;
} 

footer img{
    width: 50px;
    height: auto;

}

.sociallinks a{
    text-decoration: none;

}

.hero img{
    float: right;
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    
}

.hero article img {
    width: 300px;
    height: auto;
    padding: 50px;
}

